html,
body {
  margin: 0;
  font-family: sans-serif;
}
.content-wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  flex: 1;
  &.isLoading{
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .news-wrapper{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #f9f9f9;
  }
}