.news-list{
  width: 100%;
  margin-top: 20px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  flex: 1;
  &.isArticlesLoading{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .article-wrapper{
    flex-basis: 22%;
    max-width: 22%;
    padding: 15px;
    a{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-decoration: none;
      img.news-image{
        height: 55%;
        width: 100%;
      }
      .news-details{
        height: 45%;
        box-sizing: border-box;
        p{
          &.news-title{
            margin: 10px 0 5px 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            color: #666;
          }
          &.news-description{
            margin: 0;
            font-size: 14px;
            color: #555;
          }
        }
      }
    }
  }
}