.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkturquoise;
  height: 45px;
  position: fixed;
  width: 100%;
  a{
    text-decoration: none;
    .app-name{
      color: white;
      font-size: 18px;
      font-weight: 600;
    }
  }
}