.sidebar-nav{
  background: whitesmoke;
  flex: 1;
  max-width: 250px;
  ul{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      border-bottom: 1px solid #ececec;
      &.selected{
        background: #e4e4e4;
        border-right: 3px solid darkturquoise;
        &:hover{
          background: #e4e4e4;
        }
        button{
          cursor: default;
          color: #444;
        }
      }
      &:hover{
        background: #ececec;
      }
      button{
        text-align: left;
        text-transform: capitalize;
        width: 100%;
        font-size: 14px;
        padding: 10px 15px;
        color: #777;
        background: transparent;
        border: 0;
        cursor: pointer;
        &:focus{
          outline: none;
        }
      }
    }
  }
}